body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Ubuntu', 'Karla', sans-serif;
}

.heading {
    text-align: center;
    box-shadow: 2px 1px 1px grey;
    padding: 1rem 0;
    background-color: white;
}

button {
    background-color: aliceblue;
    border: none;
    font-size: 1.25rem;
    display: block;
    margin: 2rem auto;
    padding: .75rem 1.25rem;
    border-radius: 6px;
}

button:hover {
    background-color:rgb(226, 233, 239);
}

#book-list {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(auto-fit, minmax(200px, 1fr)); 
}

.card {
    background-color: #b7d1e2;
    
    margin: 3rem;
    text-align: center;
}




